<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="EF6CodeFirstRecipesContext" connectionString="data source=.;initial catalog=EFRecipes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Recipe2Context" connectionString="data source=.;initial catalog=EFRecipes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="EFRecipesEntities" connectionString="metadata=res://*/Recipe3.Recipe3Context.csdl|res://*/Recipe3.Recipe3Context.ssdl|res://*/Recipe3.Recipe3Context.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EFRecipes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Recipe1Context" connectionString="metadata=res://*/Recipe1.Recipe1Context.csdl|res://*/Recipe1.Recipe1Context.ssdl|res://*/Recipe1.Recipe1Context.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EFRecipes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Recipe3Context" connectionString="metadata=res://*/Recipe3.Recipe3Context.csdl|res://*/Recipe3.Recipe3Context.ssdl|res://*/Recipe3.Recipe3Context.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EFRecipes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Recipe4Context" connectionString="metadata=res://*/Recipe4.Recipe4Context.csdl|res://*/Recipe4.Recipe4Context.ssdl|res://*/Recipe4.Recipe4Context.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EFRecipes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Recipe5Context" connectionString="metadata=res://*/Recipe5.Recipe5Context.csdl|res://*/Recipe5.Recipe5Context.ssdl|res://*/Recipe5.Recipe5Context.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EFRecipes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>