<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="EF6CodeFirstRecipesContext" connectionString="data source=.;initial catalog=EFRecipes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="EF6RecipesContext" connectionString="metadata=res://*/Recipe1.PersonModel.csdl|res://*/Recipe1.PersonModel.ssdl|res://*/Recipe1.PersonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EFRecipes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Recipe2Context" connectionString="metadata=res://*/Recipe2.Recipe2.csdl|res://*/Recipe2.Recipe2.ssdl|res://*/Recipe2.Recipe2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EFRecipes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Recipe3Context" connectionString="metadata=res://*/Recipe3.Recipe3.csdl|res://*/Recipe3.Recipe3.ssdl|res://*/Recipe3.Recipe3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EFRecipes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Recipe4Context" connectionString="metadata=res://*/Recipe4.Recipe4.csdl|res://*/Recipe4.Recipe4.ssdl|res://*/Recipe4.Recipe4.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EFRecipes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Recipe9Context" connectionString="metadata=res://*/Recipe9.Recipe9.csdl|res://*/Recipe9.Recipe9.ssdl|res://*/Recipe9.Recipe9.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EFRecipes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Recipe11Context" connectionString="metadata=res://*/Recipe11.Recipe11.csdl|res://*/Recipe11.Recipe11.ssdl|res://*/Recipe11.Recipe11.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EFRecipes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Recipe12Context" connectionString="metadata=res://*/Recipe12.Recipe12.csdl|res://*/Recipe12.Recipe12.ssdl|res://*/Recipe12.Recipe12.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EFRecipes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>